{{ partial "header.html" . }}

<section class="hero is-primary homepage-hero">
	<!-- Hero head: will stick at the top -->
	<div class="hero-head">
		{{ partial "navbar.html" . }}
	</div>
	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container has-text-centered">
			{{ .Content }}
		</div>
	</div>

	<div class="hero-foot">
		<img src="{{ .Site.BaseURL }}images/screenshot.png"/>
	</div>
</section>

<section class="hero is-link feature-shoutout">
	<div class="hero-body">
		<div class="container">
			<div class="columns">
			{{ $pag := .Paginate (where (where .Site.Pages "Type" "features") "Title" "!=" "Features") }}
			{{ range .Paginator.Pages }}
				{{ if eq .Section "features" }}
					<div class="column">
						{{ .Content }}
					</div>
				{{ end }}
			{{ end }}
			</div>
		</div>
	</div>
</section>

<section class="hero feature-shoutout" style="background-color: #fafafa;">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h2 class="subtitle is-2">Sponsors</h2>
			<div class="columns" style="align-items: center;justify-content: center;margin-top:15px;">
				<div class="column">
					<a href="http://inblockchain.com"><img style="height: 100px" src="/images/inblockchain.png" alt="INBlockchain"></a>
				</div>
				<div class="column">
					<a href="https://metal.equinix.com"><img style="height: 100px" src="/images/EM-Standard-Color.png" alt="Equinix Metal is an on-demand bare metal service from Equinix."></a>
				</div>
			</div>
			<div class="columns" style="align-items: center;justify-content: center;margin-top:15px;">
				<div class="column">
					<a href="https://www.twosigma.com"><img src="/images/twosigma.svg" style="vertical-align: top;margin-top: 16px;" alt="Two Sigma"></a>
				</div>
				<div class="column">
					<a href="https://allspice.io"><img src="/images/allspice.svg" style="height:100px;" alt="Allspice"></a>
				</div>
			</div>
			<div class="columns" style="align-items: center;justify-content: center;margin-top:15px;">
				<div class="column">
					<a href="https://soebes.io/"><img src="/images/soebes.gif" style="height:100px;" alt="SoEBeS"></a>
				</div>
				<div class="column">
					<a href="https://opencollective.com/gitea"><img src="/images/opencollective.svg" style="height:100px" alt="Open Collective"></a>
				</div>
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}